/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint:before {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.1);
    content: '';
    z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
    display: none;
}

#splash-message {
    display: none;
    position: absolute;
    text-align: center;
    background: rgba(200, 200, 200, 0.3);
    height: calc(100% - 56px - 48px);
    width: 100%;
    z-index: 400;
    top: 56px;
}
.ios #splash-message {
    height: calc(100% - 44px - 44px);
    top: 44px;
}
#splash-message > span {
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
    font-size: 4rem;
    font-weight: bold;
}
