.ol-viewport {
    background: #C5EFF7;
}

.tab-link-highlight {
    display: none;
}

.md .popover-give-up .block, .ios .popover-give-up .block {
    margin: 16px 0;
}
.md .popover-give-up .list, .ios .popover-give-up .list {
    font-size: 12px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.tour .popover-inner .block {
    margin: 16px 0;
}
.tour-message {
    margin-bottom: 8px;
}

.map-box {
    display: none;
    right: 0;
    width: 100%;
    position: absolute;
    pointer-events: none;
    z-index: 401;
}
.map-box > div {
    position: relative;
    padding: 2px 6px;
    cursor: auto;
    background: rgba(255, 255, 255, 0.7);
    pointer-events: auto;
}
.map-box > div > p {
    font-size: 12px;
    margin: 0;
}

#map-box-top > div {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
#map-box-top .f32 {
    float: right;
}
#map-box-bottom {
    bottom: 48px;
}
.ios #map-box-bottom {
    bottom: 44px;
}
#map-box-bottom > div {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
}
#map-box-bottom .wrong {
    color: #ccc;
    background: rgba(255, 0, 0, 0.7);
}
