<div class="page" data-name="about">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="title">{{__ 'aboutTitle'}}</div>
        </div>
    </div>
    <div class="page-content">
        <div class="block-header">{{__ 'aboutDescription'}}</div>
        <div class="block">
            <strong>{{__ 'tourStep1Line1Countries'}}</strong>
            <br>
            <strong>{{__ 'tourStep1Line2Countries'}}</strong>
        </div>

        <div class="block-title">{{__ 'aboutVersion'}}</div>
        <div class="block">2.4.0</div>

        <div class="block-title">{{__ 'aboutLicense'}}</div>
        <div class="block">GNU Affero GPL v3.0 or later</div>

        <div class="block-title">{{__ 'aboutAuthor'}}</div>
        <div class="block">Valéry Febvre</div>

        <div class="block-title">{{__ 'aboutLibraryFramework'}}</div>
        <div class="block">
            <div class="row">
                <div class="col">{{__ 'aboutHTML5Framework'}}</div>
                <div class="col"><a href="http://framework7.io/" class="external">Framework7</a></div>
            </div>
            <div class="row">
                <div class="col">{{__ 'aboutMapping'}}</div>
                <div class="col"><a href="https://openlayers.org/" class="external">OpenLayers</a></div>
            </div>
            <div class="row">
                <div class="col">{{__ 'aboutMapDatasets'}}</div>
                <div class="col"><a href="http://www.naturalearthdata.com/" class="external">Natural Earth</a></div>
            </div>
            <div class="row">
                <div class="col">{{__ 'aboutStorage'}}</div>
                <div class="col"><a href="https://github.com/nbubna/store" class="external">Store2</a></div>
            </div>
            <div class="row">
                <div class="col">{{__ 'aboutUtility'}}</div>
                <div class="col"><a href="https://lodash.com/" class="external">Lodash</a></div>
            </div>
            <div class="row">
                <div class="col">{{__ 'aboutAnimation'}}</div>
                <div class="col"><a href="https://daneden.github.io/animate.css/" class="external">Animate</a></div>
            </div>
            <div class="row">
                <div class="col">{{__ 'aboutTranslation'}}</div>
                <div class="col"><a href="https://www.i18next.com/" class="external">i18next</a></div>
            </div>
        </div>

        <div class="block-title">{{__ 'aboutArtwork'}}</div>
        <div class="block">
            <div class="row">
                <div class="col">{{__ 'aboutHomeBackground'}}</div>
                <div class="col"><a href="https://pixabay.com/en/destinations-map-map-of-the-world-235942/" class="external">Hans Braxmeier</a></div>
            </div>
            <div class="row">
                <div class="col">{{__ 'aboutFlags'}}</div>
                <div class="col"><a href="https://github.com/lafeber/world-flags-sprite" class="external">world-flags-sprite</a></div>
            </div>
        </div>

        <div class="block-title">{{__ 'aboutContribute'}}</div>
        <div class="block">
            <div class="list no-hearlines no-hairlines-between no-margin-top">
                <ul>
                    <li>
                        <a href="https://gitlab.com/valos/geo-skiller/issues" class="item-link list-button external">
                          <i class="icon material-icons">bug_report</i> {{__ 'aboutReportBug'}}
                        </a>
                    </li>
                    <li>
                        <a href="https://gitlab.com/valos/geo-skiller" class="item-link list-button external">
                            <i class="icon material-icons">code</i> {{__ 'aboutSourceCode'}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
