s<template>
    <div class="page">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="title">{{__ 'settingsTitle'}}</div>
            </div>
        </div>

        <div class="page-content">
            <form id="settings-countries" class="list no-hairlines-md no-margin form-store-data">
                <ul>
                    <li>
                        <div class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title">{{__ 'settingsContinent'}}</div>
                                <div class="item-input-wrap">
                                    <select name="continent">
                                        <option value="">--</option>
                                        {{#each continents}}
                                        <option value="{{@key}}">{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">{{__ 'settingsIncludeSmall'}}</div>
                                <div class="item-after">
                                    <label class="toggle toggle-init">
                                        <input type="checkbox" name="include_small">
                                        <span class="toggle-icon"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">{{__ 'settingsRandomColors'}}</div>
                                <div class="item-after">
                                    <label class="toggle toggle-init">
                                        <input type="checkbox" name="random_colors">
                                        <span class="toggle-icon"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
            <div class="block block-strong">
                <a href="#" @click="clearScores" class="button button-raised button-fill color-red">
                    <i class="icon material-icons md-only">delete</i>
                    <i class="icon f7-icons ios-only">trash</i>
                    {{__ 'settingsClearScores'}}
                </a>
            </div>
        </div>
    </div>
</template>
<script>
return {
    data: function() {
        var continents = {};
        ['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America'].forEach(function(name, i) {
            continents[name] = i18next.t('countries:cont' + _.upperFirst(_.camelCase(name)))
        });
        return {
            continents: continents
        };
    },
    methods: {
        clearScores: function() {
            app.dialog.confirm(
                __('settingsClearScoresConfirm'),
                __('settingsClearScores'),
                function() {
                    // ok
                    store.transact('stats', function(stats) {
                        stats.countries = {};
                        return stats;
                    })

                    app.toast.show({
                        text: __('settingsClearScoresSuccessCountries'),
                        closeTimeout: 2000,
                        destroyOnClose: true
                    });
                }
            );
        }
    },
    on: {
        pageAfterIn: function(event, page) {
            page.app.panel.open('right');
        },
        pageInit: function(event, page) {
        }
    }
}
</script>
