<template>
    <div class="page">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="title">{{__ 'settingsTitle'}}</div>
            </div>
        </div>

        <div class="page-content">
            <div class="block block-strong">
                <a href="#" @click="clearScores" class="button button-raised button-fill color-red">
                    <i class="icon material-icons md-only">delete</i>
                    <i class="icon f7-icons ios-only">trash</i>
                    {{__ 'settingsClearScores'}}
                </a>
            </div>
        </div>
    </div>
</template>
<script>
return {
    data: function() {
        return {};
    },
    methods: {
        clearScores: function() {
            app.dialog.confirm(
                __('settingsClearScoresConfirm'),
                __('settingsClearScores'),
                function() {
                    // ok
                    store.transact('stats', function(stats) {
                        stats.franceDepartments = {};
                        return stats;
                    })

                    app.toast.show({
                        text: __('settingsClearScoresSuccessFranceDepartments'),
                        closeTimeout: 2000,
                        destroyOnClose: true
                    });
                }
            );
        }
    },
    on: {
        pageAfterIn: function(event, page) {
            page.app.panel.open('right');
        },
        pageInit: function(event, page) {
        }
    }
}
</script>
