<template>
    <div class="page" data-name="usa-states">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="left">
                    <a href="#" class="link back icon-only">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="title no-margin-left">{{__ 'franceDepartmentsTitle'}}</div>
                <div class="right">
                    <a href="#" @click="settings" class="link icon-only">
                        <i class="icon material-icons md-only">settings</i>
                        <i class="icon f7-icons ios-only">gear_fill</i>
                    </a>
                    <a @click="stats" class="link icon-only">
                        <i class="icon material-icons">insert_chart</i>
                    </a>
                </div>
            </div>
        </div>

        <div class="toolbar tabbar toolbar-bottom-md">
            <div class="toolbar-inner">
                <a id="btn-start-stop" class="tab-link" @click="startOrStop"><i class="icon material-icons">play_arrow</i></a>
                <a id="btn-give-up" class="tab-link" @click="giveUp" style="visibility: hidden"><i class="icon material-icons">skip_next</i></a>
                <a class="tab-link" style="visibility: hidden"></a>
                <a class="tab-link" style="visibility: hidden"></a>
                <a class="tab-link" style="visibility: hidden"></a>
                <a class="tab-link" @click="resetMapView"><i class="icon material-icons">fullscreen</i></a>
            </div>
        </div>

        <div id="splash-message">
            <span></span>
        </div>

        <div class="popover popover-give-up">
            <div class="popover-inner">
                <div class="block">
                    <b>{{__ 'giveUpTitle'}}</b>
                </div>

                <div class="list links-list no-chevron">
                    <ul>
                        <li><a class="popover-close" href="#"><i class="icon material-icons">cancel</i> {{__ 'giveUpNo'}}</a></li>
                        <li><a class="" href="#" data-action="tellme" @click="giveUp"><i class="icon material-icons">location_searching</i> {{__ 'giveUpYesButTellMeFranceDepartments'}}</a></li>
                        <li><a class="" href="#" data-action="next" @click="giveUp"><i class="icon material-icons">skip_next</i> {{__ 'giveUpYes'}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="popover tour">
            <div class="popover-inner">
                <div class="block">
                    <div class="tour-message"></div>
                    <div class="row">
                        <div class="col"><a href="#" @click="tourPrev" class="button button-raised button-small tour-prev">{{__ 'tourPrev'}}</a></div>
                        <div class="col"><a href="#" @click="tourNext" class="button button-raised button-small tour-next">{{__ 'tourNext'}}</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="map-box" id="map-box-top"><div></div></div>
            <div id="map"></div>
            <div class="map-box" id="map-box-bottom"><div></div></div>
        </div>

    </div>
</template>
<style>
</style>
<script>
return {
    // Component Data
    data: function () {
        var tourSteps = [
            {
                message: `<p>` + __('tourStep1Line1FranceDepartments') + `</p>
                          <p>` + __('tourStep1Line2FranceDepartments') +`</p>`,
                target: '.navbar'
            },
            {
                message: __('tourStep2', {icon: '<i class="icon material-icons">play_arrow</i>', interpolation: {escapeValue: false}}),
                target: {
                    targetX: 10,
                    targetY: window.innerHeight - 48
                }
            },
            {
                message:  __('tourStep3', {icon: '<i class="icon material-icons">insert_chart</i>', interpolation: {escapeValue: false}}),
                target: Framework7.device.ios ? '.navbar .right' : '#map'
            }
        ];

        return {
            map: null,
            drawPile: null,
            drawPileLength: 0,
            gaveUp: false,
            question: null,
            selectedDepartmentFeature: null,
            started: false,
            tour: Tour('.tour', tourSteps),
            validatedCounter: 0,
        };
    },
    // Component Methods
    methods: {
        checkAnswer: function(feature) {
            var self = this;
            var correct = false;
            var distance;
            var min;
            var questionFeature = this.map.franceDepartmentsVector.getFeatureById(this.question.code);

            if (this.question.code === feature.getProperties().code) {
                distance = 0;
                correct = true;
            }
            else {
                // compute minimal distance between 2 polygons
                var layerLatLngs = this.map.getCountryLatLngs(feature);

                this.map.getCountryLatLngs(questionFeature).forEach(function(latlng1, i) {
                    layerLatLngs.forEach(function(latlng2, j) {
                        var d = self.map.getCoordsDistance(latlng1, latlng2);
                        if (!min || d < min) {
                            min = d;
                        }
                    });
                });
                distance = (min / 1000).toFixed(0);
                correct = false;
            }

            return {
                correct: correct,
                distance: distance
            };
        },

        drawQuestion: function() {
            var code;
            var message;

            this.resetMapView();

            if (this.endOfMission() || this.endOfPile()) {
                return;
            }

            code = _.last(this.drawPile);
            this.drawPile = _.dropRight(this.drawPile);

            this.question = this.map.getFranceDepartmentInfo(code);
            this.question.tries = 0;
            this.gaveUp = false;
            $$('#btn-give-up').removeClass('disabled');

            message = this.getDepartmentMessage(this.question, 'question');
            this.updateBoxTop(message);
            this.hideBoxBottom();
        },

        endOfMission: function() {
            var message;

            if (this.validatedCounter === this.drawPileLength) {
                this.startOrStop();

                message = '<p>' + __('endOfMission1') + '</p>';
                message += '<p>' + __('endOfMission2FranceDepartments') + '</p>';
                message += '<p>' + __('endOfMission3', {icon: '<i class="icon material-icons">insert_chart</i>', interpolation: {escapeValue: false}}) + '</p>';

                this.updateBoxTop(message);

                return true;
            }
            return false;
        },

        endOfPile: function() {
            var message;

            if (this.drawPile && this.drawPile.length === 0) {
                this.startOrStop();

                message = __('endOfPileFranceDepartments', {icon: '<i class="icon material-icons">play_arrow</i>', interpolation: {escapeValue: false}});
                this.updateBoxTop(message);

                return true;
            }
            return false;
        },

        getDepartmentMessage: function(info, type) {
            var message;

            message = '';
            if (type === 'question') {
              message += '<p>' + __('questionWhereIsFranceDepartments', {name: info.name, interpolation: {escapeValue: false}}) + '<br />';
            }
            else {
                message += '<p><b>' + info.name + '</b>';
            }
            message += ' (' + info.code + ')';
            message += '</p>';

            return message;
        },

        giveUp: function(e) {
            var $link = e.target.tagName === 'I' ? $$(e.target).parent() : $$(e.target);
            var action = $link.data('action');

            if (!action) {
                popover = app.popover.create({
                    el: '.popover-give-up',
                    targetEl: '#btn-give-up',
                    closeByBackdropClick: false,
                    closeByOutsideClick: false
                }).open();
            }
            else if (action === 'next') {
                app.popover.close('.popover-give-up');
                this.drawQuestion();
            }
            else if (action === 'tellme') {
                var questionFeature = this.map.franceDepartmentsVector.getFeatureById(this.question.code);
                app.popover.close('.popover-give-up');

                this.gaveUp = true;
                $$('#btn-give-up').addClass('disabled');

                this.map.setCountryFeatureStyle(questionFeature, questionFeature.getProperties().fillColor_, '#333', 3);
                this.map.olMap.getView().fit(questionFeature.getGeometry().getExtent(), {duration: 1600});
            }
        },

        hideBoxBottom: function() {
            this.$('#map-box-bottom').hide();
        },

        hideBoxTop: function() {
            this.$('#map-box-top').hide();
        },

        initMap() {
            var self = this;

            // init map
            this.$('#map')
                .css('width', '100%')
                .css('height', 'calc(100%)');

            this.map = new Map({franceDepartments: true, smallCountries: false});

            this.map.olMap.on('click', function(e) {
                self.map.olMap.forEachFeatureAtPixel(e.pixel, function(feature, layer) {
                    if (layer.get('name') === 'france-departments') {
                        self.selectDepartment(feature);
                    }
                });
            });

            this.resetMapView();
        },

        isDepartmentValidated: function(code) {
            var stats = store.get('stats');

            if (stats && stats.franceDepartments && stats.franceDepartments[code]) {
                return _.filter(stats.franceDepartments[code], function(score) {return score === 1;}).length >= 2;
            }
            else {
                return false;
            }
        },

        resetMapView: function() {
            // Center on Montana
            this.map.resetView(ol.proj.transform([2.2137, 46.2276], 'EPSG:4326', 'EPSG:3857'), 5);
        },

        saveScore: function(code, score) {
            store.transact('stats', function(stats) {
                if (stats.franceDepartments[code]) {
                    stats.franceDepartments[code].push(score);
                }
                else {
                    stats.franceDepartments[code] = [score];
                }

                return stats;
            });
        },

        selectDepartment: function(feature) {
            var message;
            var properties;

            if (!feature) {
                return;
            }
            properties = feature.getProperties();

            if (this.selectedDepartmentFeature && this.selectedDepartmentFeature.getProperties().code === properties.code) {
                return;
            }

            if (this.selectedDepartmentFeature) {
                // Unselect previously selected state
                this.map.setCountryFeatureStyle(
                    this.selectedDepartmentFeature,
                    this.selectedDepartmentFeature.getProperties().fillColor_
                );
            }

            this.selectedDepartmentFeature = feature;
            this.map.setCountryFeatureStyle(feature, '#333');

            if (this.gaveUp) {
                this.drawQuestion();
                return;
            }

            var info = this.map.getFranceDepartmentInfo(properties);
            if (!this.started) {
                this.updateBoxTop(this.getDepartmentMessage(info));
                return;
            }

            this.question.tries += 1;
            result = this.checkAnswer(this.selectedDepartmentFeature);
            if (result.correct) {
                this.saveScore(this.question.code, this.question.tries);
                var validated = this.isDepartmentValidated(this.question.code);

                message = __('answerRight', {count: this.question.tries});
                if (validated) {
                    this.validatedCounter += 1;
                    message += ' <span class="badge color-green">';
                    message += '<i class="icon material-icons md-18">check</i> ';
                    message += __('answerValidated');
                    message += '</span>';
                }

                this.updateBoxBottom(message);

                message = !validated ? __('answerWellDone') : __('answerValidatedFranceDepartments');
                this.$root.showSplashMessage(message, null, this.drawQuestion);
            }
            else {
                message = '<p>';
                if (result.distance <= 100) {
                    message += __('answerWrongButClose');
                }
                else {
                    message += __('answerWrongDistance', {distance: result.distance});
                }
                message += ' ' + __('answerWrongItIsFranceDepartments', {name: info.name, interpolation: {escapeValue: false}});
                message += '</p>';
                this.updateBoxBottom(message, true);
            }
        },

        settings: function() {
            this.$app.views.get('.panel-right-view').router.navigate('/france-departments/settings/');
        },

        startOrStop: function(e) {
            var self = this;
            var app = this.$app;
            var message;

            this.drawPile = [];
            this.validatedCounter = 0;
            this.map.franceDepartmentsVector.forEachFeature(function(feature) {
                var properties = feature.getProperties();

                if (self.isDepartmentValidated(properties.code)) {
                    self.validatedCounter += 1;
                }
                else {
                    self.drawPile.push(properties.code);
                }
            });
            this.drawPile = _.shuffle(this.drawPile);
            this.drawPileLength = this.drawPile.length;

            if (!this.started) {
                this.started = true;

                if (this.endOfMission()) {
                    return;
                }
                else {
                    this.$('#btn-start-stop i').text('stop');
                    this.$('#btn-give-up').css('visibility', 'visible');

                    message = __('startReady');
                    if (this.validatedCounter > 0) {
                        message += '<br>';
                        message += __('startRemainingFranceDepartments', {count: this.drawPileLength});
                    }
                    this.$root.showSplashMessage(message, 'zoomInDown', this.drawQuestion);
                }
            }
            else {
                this.started = false;

                this.$('#btn-start-stop i').text('play_arrow');
                this.$('#btn-give-up').css('visibility', 'hidden');

                this.drawPile = null;

                this.hideBoxTop();
                this.hideBoxBottom();
            }
        },

        stats: function() {
            var self = this;
            var context = {
                total: this.map.franceDepartmentsVector.getFeatures().length,
                validated: 0,
                departments: []
            };

            this.map.franceDepartmentsVector.forEachFeature(function(feature) {
                var properties = feature.getProperties();
                var info = self.map.getFranceDepartmentInfo(properties);
                var validated = self.isDepartmentValidated(info.code);

                if (validated) {
                    info.status = '<i class="icon material-icons color-green">check</i>';
                    context.validated += 1;
                }
                else {
                    var tries = store.get('stats').franceDepartments[info.code];
                    if (tries) {
                        info.status = _.min(tries);
                    }
                    else {
                        info.status = '-';
                    }
                }

                context.departments.push(info);
            });
            context.nbStatesValidated = __('statisticsNbValidatedFranceDepartments', {count: context.validated, total: context.total});
            context.departments = _.sortBy(context.departments, [function(s) {return s.code;}]);

            this.$app.views.current.router.navigate('/france-departments/stats/', {context: context});
        },

        tourPrev: function() {
            this.tour.prev();
        },

        tourNext: function() {
            this.tour.next();
        },

        updateBoxBottom: function(message, wrong) {
            if (wrong) {
                this.$('#map-box-bottom').addClass('wrong');
            }
            else {
                this.$('#map-box-bottom').removeClass('wrong');
            }
            this.$('#map-box-bottom div').html(message);
            this.$('#map-box-bottom').show();
        },

        updateBoxTop: function(message) {
            this.$('#map-box-top div').html(message);
            this.$('#map-box-top').show();
        }
    },
    // Page Events
    on: {
        pageMounted: function() {
            this.$app.preloader.show('blue');
        },
        pageInit: function(e, page) {
            this.tour.start();

            this.initMap();
        },
        pageAfterIn: function() {
            this.$app.preloader.hide();
        },
        pageBeforeOut: function(e, page) {
            this.tour = null;
            this.map.clear();
            this.map = null;
        }
    }
}
</script>
