<template>
    <div class="page" data-name="home">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link icon-only panel-open" data-panel="left">
                        <i class="icon material-icons md-only">menu</i>
                        <i class="icon f7-icons ios-only">menu</i>
                    </a>
                </div>
                <div class="title sliding">Geo Skiller</div>
            </div>
        </div>
        <div class="page-content">
            <div class="text-align-center" style="color: #fff; font-size: 18px; font-weight: 500; margin: 64px 0">
                {{__ 'homeDescription'}}
            </div>

            <div class="row">
                <div class="col-25"></div>
                <div class="col-50">
                    <a href="/countries/" data-ignore-cache="true" class="button button-raised button-fill button-big-ios">{{__ 'homeCountriesKnowledge'}}</a>
                </div>
                <div class="col-25"></div>
            </div>

            <div class="row">
                <div class="col-25"></div>
                <div class="col-50">
                    <a href="/places/" data-ignore-cache="true" class="button button-raised button-fill button-big-ios color-green">{{__ 'homePlacesKnowledge'}}</a>
                </div>
                <div class="col-25"></div>
            </div>

            <div class="row">
                <div class="col-25"></div>
                <div class="col-50">
                    <a href="/usa-states/" data-ignore-cache="true" class="button button-raised button-fill button-big-ios color-red">{{__ 'homeUsaStatesKnowledge'}}</a>
                </div>
                <div class="col-25"></div>
            </div>

            <div class="row">
                <div class="col-25"></div>
                <div class="col-50">
                    <a href="/france-departments/" data-ignore-cache="true" class="button button-raised button-fill button-big-ios color-red">{{__ 'homeFranceDepartmentsKnowledge'}}</a>
                </div>
                <div class="col-25"></div>
            </div>
        </div>
    </div>
</template>
<style>
[data-name="home"] > .page-content {
    background-repeat: no-repeat;
    background-image: url('./img/home.png');
    background-size: cover;
}
[data-name="home"] > .page-content .row {
    margin: 64px 0;
}
[data-name="home"] > .page-content .button {
    font-size: 12px;
}
</style>
<script>
return {}
</script>
