<template>
    <div class="page" data-name="places">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="left">
                    <a href="#" class="link back icon-only">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="title no-margin-left">{{__ 'placesTitle'}}</div>
                <div class="right">
                    <a href="#" @click="settings" class="link icon-only">
                        <i class="icon material-icons md-only">settings</i>
                        <i class="icon f7-icons ios-only">gear_fill</i>
                    </a>
                    <a @click="stats" class="link icon-only">
                        <i class="icon material-icons">insert_chart</i>
                    </a>
                </div>
            </div>
        </div>

        <div class="toolbar tabbar toolbar-bottom-md">
            <div class="toolbar-inner">
                <a id="btn-start-stop" class="tab-link" @click="startOrStop"><i class="icon material-icons">play_arrow</i></a>
                <a id="btn-give-up" class="tab-link" @click="giveUp" style="visibility: hidden"><i class="icon material-icons">skip_next</i></a>
                <a class="tab-link" style="visibility: hidden"></a>
                <a class="tab-link" style="visibility: hidden"></a>
                <a class="tab-link" style="visibility: hidden"></a>
                <a class="tab-link" @click="resetMapView"><i class="icon material-icons">fullscreen</i></a>
            </div>
        </div>

        <div id="splash-message">
            <span></span>
        </div>

        <div class="popover popover-give-up">
            <div class="popover-inner">
                <div class="block">
                    <b>{{__ 'giveUpTitle'}}</b>
                </div>

                <div class="list links-list no-chevron">
                    <ul>
                        <li><a class="popover-close" href="#"><i class="icon material-icons">cancel</i> {{__ 'giveUpNo'}}</a></li>
                        <li><a href="#" data-action="tellme" @click="giveUp"><i class="icon material-icons">location_searching</i> {{__ 'giveUpYesButTellMePlaces'}}</a></li>
                        <li><a href="#" data-action="next" @click="giveUp"><i class="icon material-icons">skip_next</i> {{__ 'giveUpYes'}}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="popover tour">
            <div class="popover-inner">
                <div class="block">
                    <div class="tour-message"></div>
                    <div class="row">
                        <div class="col"><a href="#" @click="tourPrev" class="button button-raised button-small tour-prev">{{__ 'tourPrev'}}</a></div>
                        <div class="col"><a href="#" @click="tourNext" class="button button-raised button-small tour-next">{{__ 'tourNext'}}</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="map-box" id="map-box-top"><div></div></div>
            <div id="map"></div>
            <div class="map-box" id="map-box-bottom"><div></div></div>
        </div>

    </div>
</template>
<style>
</style>
<script>
return {
    // Component Data
    data: function () {
        var tourSteps = [
            {
                message: `<p>` + __('tourStep1Line1Places') + `</p>
                          <p>` + __('tourStep1Line2Places') +`</p>`,
                target: '.navbar'
            },
            {
                message: __('tourStep2', {icon: '<i class="icon material-icons">play_arrow</i>', interpolation: {escapeValue: false}}),
                target: {
                    targetX: 10,
                    targetY: window.innerHeight - 48
                }
            },
            {
                message:  __('tourStep3', {icon: '<i class="icon material-icons">insert_chart</i>', interpolation: {escapeValue: false}}),
                target: Framework7.device.ios ? '.navbar .right' : '#map'
            }
        ];

        return {
            map: null,
            drawPile: null,
            drawPileLength: 0,
            gaveUp: false,
            question: null,
            selectedPlaceFeature: null,
            started: false,
            tour: Tour('.tour', tourSteps),
            validatedCounter: 0,
        };
    },
    // Component Methods
    methods: {
        checkAnswer: function(feature) {
            var self = this;
            var correct = false;
            var distance;
            var questionFeature;

            if (this.question.code === feature.getProperties().wikidataid) {
                distance = 0;
                correct = true;
            }
            else {
                questionFeature = this.map.placesVector.getFeatureById(this.question.code);
                distance = this.map.getCoordsDistance(
                    feature.getGeometry().getCenter(),
                    questionFeature.getGeometry().getCenter()
                );
                distance = (distance / 1000).toFixed(0);
            }

            return {
                correct: correct,
                distance: distance
            };
        },

        drawQuestion: function() {
            var code;
            var message;

            this.resetMapView();

            if (this.endOfMission() || this.endOfPile()) {
                return;
            }

            code = _.last(this.drawPile);
            this.drawPile = _.dropRight(this.drawPile);

            this.question = this.map.getPlaceInfo(code);
            this.question.tries = 0;
            this.gaveUp = false;
            $$('#btn-give-up').removeClass('disabled');

            message = this.getPlaceMessage(this.question, 'question');
            this.updateBoxTop(message);
            this.hideBoxBottom();
        },

        endOfMission: function() {
            var message;

            if (this.validatedCounter === this.drawPileLength) {
                this.startOrStop();

                message = '<p>' + __('endOfMission1') + '</p>';
                message += '<p>' + __('endOfMission2Places') + '</p>';
                message += '<p>' + __('endOfMission3', {icon: '<i class="icon material-icons">insert_chart</i>', interpolation: {escapeValue: false}}) + '</p>';

                this.updateBoxTop(message);

                return true;
            }
            return false;
        },

        endOfPile: function() {
            var message;

            if (this.drawPile && this.drawPile.length === 0) {
                this.startOrStop();

                message = __('endOfPilePlaces', {icon: '<i class="icon material-icons">play_arrow</i>', interpolation: {escapeValue: false}});
                this.updateBoxTop(message);

                return true;
            }
            return false;
        },

        getPlaceMessage: function(info, type) {
            var message;

            message = '';
            if (type === 'question') {
              message += '<p>' + __('questionWhereIsPlaces', {name: info.name, interpolation: {escapeValue: false}}) + '<br />';
            }
            else {
                message += '<p><b>' + info.name + '</b><br />';
            }
            message += this.map.getCountryInfo(info.country.code).continent;
            message += ' (' + __('questionNbPeople', {pop: info.population}) + ')</p>';

            return message;
        },

        getSettings: function() {
            var defaults = {
                continent: null
            };
            var settings = store.get('f7form-settings-places', {});
            return _.defaults(settings, defaults);
        },

        giveUp: function(e) {
            var $link = e.target.tagName === 'I' ? $$(e.target).parent() : $$(e.target);
            var action = $link.data('action');

            if (!action) {
                popover = app.popover.create({
                    el: '.popover-give-up',
                    targetEl: '#btn-give-up',
                    closeByBackdropClick: false,
                    closeByOutsideClick: false
                }).open();
            }
            else if (action === 'next') {
                app.popover.close('.popover-give-up');
                this.drawQuestion();
            }
            else if (action === 'tellme') {
                var questionFeature = this.map.placesVector.getFeatureById(this.question.code);
                app.popover.close('.popover-give-up');

                this.gaveUp = true;
                $$('#btn-give-up').addClass('disabled');

                this.map.olMap.getView().fit(questionFeature.getGeometry().getExtent(), {duration: 1600});
            }
        },

        hideBoxBottom: function() {
            this.$('#map-box-bottom').hide();
        },

        hideBoxTop: function() {
            this.$('#map-box-top').hide();
        },

        initMap() {
            var self = this;

            // init map
            this.$('#map')
                .css('width', '100%')
                .css('height', 'calc(100%)');

            this.map = new Map({places: true});

            this.map.olMap.on('click', function(e) {
                self.map.olMap.forEachFeatureAtPixel(e.pixel, function(feature, layer) {
                    if (layer.get('name') === 'places') {
                        self.selectPlace(feature);
                    }
                });
            });

            this.map.olMap.getView().on("change:resolution", function(e) {
                var zoom = e.target.getZoom();
                self.map.olMap.getLayers().getArray()[1].setVisible(zoom >= 3);
                // console.log(zoom);
            });

            this.resetMapView();
        },

        isPlaceValidated: function(code) {
            var stats = store.get('stats');

            if (stats && stats.places && stats.places[code]) {
                return _.filter(stats.places[code], function(score) {return score === 1;}).length >= 2;
            }
            else {
                return false;
            }
        },

        resetMapView: function() {
            this.map.resetView();
        },

        saveScore: function(code, score) {
            store.transact('stats', function(stats) {
                if (stats.places[code]) {
                    stats.places[code].push(score);
                }
                else {
                    stats.places[code] = [score];
                }

                return stats;
            });
        },

        selectPlace: function(feature) {
            var message;
            var properties;

            if (!feature) {
                return;
            }
            properties = feature.getProperties();

            if (this.selectedPlaceFeature && this.selectedPlaceFeature.getProperties().NAME === properties.NAME) {
                return;
            }

            if (this.selectedPlaceFeature) {
                // Unselect previously selected place
                this.map.setPlaceFeatureStyle(this.selectedPlaceFeature);
            }

            this.selectedPlaceFeature = feature;
            this.map.setPlaceFeatureStyle(feature, '#000');

            if (this.gaveUp) {
                this.drawQuestion();
                return;
            }

            var info = this.map.getPlaceInfo(properties);
            if (!this.started) {
                this.updateBoxTop(this.getPlaceMessage(info));
                return;
            }

            this.question.tries += 1;
            result = this.checkAnswer(this.selectedPlaceFeature);
            if (result.correct) {
                this.saveScore(this.question.code, this.question.tries);
                var validated = this.isPlaceValidated(this.question.code);

                message = __('answerRight', {count: this.question.tries});
                if (validated) {
                    this.validatedCounter += 1;
                    message += ' <span class="badge color-green">';
                    message += '<i class="icon material-icons md-18">check</i> ';
                    message += __('answerValidated');
                    message += '</span>';
                }

                this.updateBoxBottom(message);

                message = !validated ? __('answerWellDone') : __('answerValidatedPlaces');
                this.$root.showSplashMessage(message, null, this.drawQuestion);
            }
            else {
                message = '<p>';
                if (result.distance <= 100) {
                    message += __('answerWrongButClose');
                }
                else {
                    message += __('answerWrongDistance', {distance: result.distance});
                }
                message += ' ' + __('answerWrongItIsPlaces', {name: info.name, interpolation: {escapeValue: false}});
                message += '</p>';
                this.updateBoxBottom(message, true);
            }
        },

        settings: function() {
            this.$app.views.get('.panel-right-view').router.navigate('/places/settings/');
        },

        startOrStop: function(e) {
            var self = this;
            var app = this.$app;
            var message;
            var settings = this.getSettings();

            this.drawPile = [];
            this.validatedCounter = 0;
            this.map.placesVector.forEachFeature(function(feature) {
                var properties = feature.getProperties();

                if (settings.continent && properties.CONTINENT !== settings.continent) {
                    return;
                }

                if (self.isPlaceValidated(properties.wikidataid)) {
                    self.validatedCounter += 1;
                }
                else {
                    self.drawPile.push(properties.wikidataid);
                }
            });
            this.drawPile = _.shuffle(this.drawPile);
            this.drawPileLength = this.drawPile.length;

            if (!this.started) {
                this.started = true;

                if (this.endOfMission()) {
                    return;
                }
                else {
                    this.$('#btn-start-stop i').text('stop');
                    this.$('#btn-give-up').css('visibility', 'visible');

                    message = __('startReady');
                    if (this.validatedCounter > 0) {
                        message += '<br>';
                        message += __('startRemainingPlaces', {count: this.drawPileLength});
                    }
                    this.$root.showSplashMessage(message, 'zoomInDown', this.drawQuestion);
                }
            }
            else {
                this.started = false;

                this.$('#btn-start-stop i').text('play_arrow');
                this.$('#btn-give-up').css('visibility', 'hidden');

                this.drawPile = null;

                this.hideBoxTop();
                this.hideBoxBottom();
            }
        },

        stats: function() {
            var self = this;
            var context = {
                continents: {},
                total: this.map.placesVector.getFeatures().length,
                validated: 0
            };

            this.map.placesVector.forEachFeature(function(feature) {
                var properties = feature.getProperties();
                var info = self.map.getPlaceInfo(properties);
                var continent = info.country.continent.replace(' ', '');
                var validated = self.isPlaceValidated(info.code);

                if (validated) {
                    info.status = '<i class="icon material-icons color-green">check</i>';
                }
                else {
                    var tries = store.get('stats').places[info.code];
                    if (tries) {
                        info.status = _.min(tries);
                    }
                    else {
                        info.status = '-';
                    }
                }

                if (continent in context.continents) {
                    context.continents[continent].places.push(info);
                }
                else {
                    context.continents[continent] = {
                        places: [info],
                        name: info.country.continent,
                        validated: 0,
                        total: 0
                    }
                }
                if (validated) {
                    context.continents[continent].validated += 1;
                    context.validated += 1;
                }
                context.continents[continent].total += 1;
            });
            context.nbPlacesValidated = __('statisticsNbValidatedPlaces', {count: context.validated, total: context.total});

            this.$app.views.current.router.navigate('/places/stats/', {context: context});
        },

        tourPrev: function() {
            this.tour.prev();
        },

        tourNext: function() {
            this.tour.next();
        },

        updateBoxBottom: function(message, wrong) {
            if (wrong) {
                this.$('#map-box-bottom').addClass('wrong');
            }
            else {
                this.$('#map-box-bottom').removeClass('wrong');
            }
            this.$('#map-box-bottom div').html(message);
            this.$('#map-box-bottom').show();
        },

        updateBoxTop: function(message) {
            this.$('#map-box-top div').html(message);
            this.$('#map-box-top').show();
        }
    },
    // Page Events
    on: {
        pageMounted: function() {
            this.$app.preloader.show('blue');
        },
        pageInit: function(e, page) {
            this.tour.start();

            this.initMap();
        },
        pageAfterIn: function() {
            this.$app.preloader.hide();
        },
        pageBeforeOut: function(e, page) {
            this.tour = null;
            this.map.clear();
            this.map = null;
        }
    }
}
</script>
