<div class="popup">
    <div class="view">
        <div class="page">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <!-- <a href="javascript: window.history.back()" class="link icon-only"> -->
                        <a href="#" class="link back icon-only">
                            <i class="icon icon-back"></i>
                        </a>
                    </div>
                    <div class="title">{{__ 'statisticsTitle'}}</div>
                </div>
            </div>

            <div class="page-content">
                <div class="block">{{nbPlacesValidated}}</div>
                <div class="list no-margin-top">
                    {{#each continents}}
                    <div class="list-group media-list">
                        <ul>
                            <li class="list-group-title">
                                <div class="row">
                                    <div class="col">{{name}} ({{validated}} / {{total}})</div>
                                    <div class="col text-align-right">{{__ 'statisticsBestTries'}}</div>
                                </div>
                            </li>
                            {{#each places}}
                            <li>
                                <div class="item-content">
                                    <div class="item-media"><span class="f32"><span class="flag {{country.flag}}"></span></span></div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">{{name}}</div>
                                            <div class="item-after">{{status}}</div>
                                        </div>
                                        <div class="item-subtitle">{{country.name}} - {{country.continent}}{{#if country.subregion}} / {{country.subregion}}{{/if}}</div>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
