<template>
    <div class="page" data-name="form">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="title">{{__ 'settingsTitle'}}</div>
            </div>
        </div>
        <div class="page-content">
            <form id="settings" class="list no-hairlines form-store-data">
                <ul>
                    <li>
                        <div class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-title item-label">{{__ 'settingsLng'}}</div>
                                <div class="item-input-wrap">
                                    <select name="lng">
                                        <option value="en">{{__ 'settingsLngEnglish'}}</option>
                                        <option value="fr">{{__ 'settingsLngFrench'}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">{{__ 'settingsMapRendererWebGL'}}</div>
                                <div class="item-after">
                                    <label class="toggle toggle-init">
                                        <input type="checkbox" name="map_renderer_webgl">
                                        <span class="toggle-icon"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</template>
<style>

</style>
<script>
return {
    on: {
        pageMounted: function(e, page) {
            this.$app.form.fillFromData('#settings', getGlobalSettings());
        },
        pageInit: function(e, page) {
        }
    }
}
</script>
