<template>
    <div class="page">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="title">{{__ 'settingsTitle'}}</div>
            </div>
        </div>

        <div class="page-content">
            <form id="settings-usa-states" class="list no-hairlines-md no-margin form-store-data">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">{{__ 'settingsHideRegion'}}</div>
                                <div class="item-after">
                                    <label class="toggle toggle-init">
                                        <input type="checkbox" name="hide_region">
                                        <span class="toggle-icon"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
            <div class="block block-strong">
                <a href="#" @click="clearScores" class="button button-raised button-fill color-red">
                    <i class="icon material-icons md-only">delete</i>
                    <i class="icon f7-icons ios-only">trash</i>
                    {{__ 'settingsClearScores'}}
                </a>
            </div>
        </div>
    </div>
</template>
<script>
return {
    data: function() {
        return {};
    },
    methods: {
        clearScores: function() {
            app.dialog.confirm(
                __('settingsClearScoresConfirm'),
                __('settingsClearScores'),
                function() {
                    // ok
                    store.transact('stats', function(stats) {
                        stats.usaStates = {};
                        return stats;
                    })

                    app.toast.show({
                        text: __('settingsClearScoresSuccessUsaStates'),
                        closeTimeout: 2000,
                        destroyOnClose: true
                    });
                }
            );
        }
    },
    on: {
        pageAfterIn: function(event, page) {
            page.app.panel.open('right');
        },
        pageInit: function(event, page) {
        }
    }
}
</script>
